*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --green : #54B192;
    --green-l : #A4CEC0;
    --gray :  #3F3D56;
    --smooth : all .3s ease-in;
}

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: "Roboto" , sans-serif;
    background-color: azure;
}

img
{
    max-width: 100%;
    width: 100%;
}
.container
{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
hr {
    border: none;
    height: 2px;
    background-color: black;
    width: 70%;
    margin: 2em auto;
    display: block;
    margin-top: 5em;
}

button
{
    text-align: center;
    color: #fff;
    background-color: var(--gray);
    padding: .8rem 2.5rem;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: var(--smooth);
}

button:hover
{
    background-color: var(--green-l);
    transition: var(--smooth);
}

#overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    z-index: 4;
    display: none;
}
#overlay.show
{
    display: initial;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_logo img
{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.navbar_links.navbar_open
{
    transform: translateX(0);
    opacity: 1;
    transform: var(--smooth);
}

.navbar_links
{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.8);
    z-index: 5;
    transition: var(--smooth);
    transform: translateX(-100%);
    opacity: 0;
}

.navbar_link
{
    list-style: none;
    margin: 55px;
}

.navbar_link a
{
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: transform 0.3s ease;
    display: inline-block; 
}

.navbar_link a:hover
{
    transform: scale(1.1);
    z-index: 1;
}

.navbar_btn
{
    font-size: 1rem;
    background-color: var(--green);
    margin-left: 55px;
}

.navbar_icons
{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: var(--smooth);
    z-index: 6;
}

.navbar_icon
{
    width: 45px;
    height: 6px;
    background-color: var(--gray);
    border-radius: 5px;
    transition: var(--smooth);
    position: relative;
}

.navbar_icon::before,
.navbar_icon::after
{
    content: "";
    position: absolute;
    width: 45px;
    height: 6px;
    background-color: var(--gray);
    border-radius: 5px;
    transition: var(--smooth);
}

.navbar_icon::before
{
    transform: translateY(-12px);
}

.navbar_icon::after
{
    transform: translateY(12px);
}

.open .navbar_icon
{
    transform: translateX(50px);
    background: transparent;
}
.open .navbar_icon::before
{
    transform: rotate(45deg) translate(-35px, 35px);
}
.open .navbar_icon::after
{
    transform: rotate(-45deg) translate(-35px, -35px);
}

@media (min-width: 62em)
{
    .navbar_links
    {
        box-shadow: none;
        position: initial;
        transform: translateX(0);
        opacity: 1;
        background-color: transparent;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 20px;
    }
    .navbar_link a
    {
        color: var(--gray);
    }
    .navbar_icons
    {
        display: none;
    }
    .navbar_btn
    {
        background-color: var(--gray);
    }
}

#home
{
    position: relative;
    overflow: hidden;
}

.home_item
{
    margin-top: 1em;
}

.home_content
{
    text-align: center;
    color: var(--gray);
}

.home_content p
{
    font-weight: 500;
    line-height: 1em;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 2em;
}

.home_socials
{
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    margin-top: 2em;
    margin-bottom: 2em;
}

.home_socials a
{
    color: var(--gray);
    transition: var(--smooth);
}

.home_socials a:hover
{
    color: var(--green-l);
    transition: var(--smooth);
}

@media(min-width: 62em)
{
    .home_item
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        margin-top: 10em;
    }
    .home_img
    {
        order: 2;
        width: 40%;
        padding-bottom: 0;
    }
    .home_content
    {
        order: 1;
        width: 40%;
    }
    .home_content h1
    {
        max-width: 500px;
        margin-bottom: 1em;
    }
    .home_content p
    {
        max-width: 500px;
        margin: 0;
    }
}

#about
{
    position: relative;
    overflow: hidden;
}

.about_item
{
}

.about_content
{
    text-align: center;
    color: var(--gray);
}

.about_content p
{
    font-weight: 500;
    line-height: 1em;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 4em;
}

@media(min-width: 62em)
{
    .about_item
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    .about_img
    {
        width: 40%;
        padding-bottom: 0;
    }
    .about_content
    {
        text-align: initial;
        width: 40%;
    }
    .about_content h1
    {
        max-width: 500px;
        margin-bottom: 1em;
    }
    .about_content p
    {
        max-width: 500px;
        line-height: 2;
    }
}

#skill
{
    position: relative;
    overflow: hidden;
}

.skill_title
{
    text-align: center;
    margin-top: 3em;
}

.skill_item
{
    margin-top: 5em;
    margin-bottom: 3em;
}

.myskill
{
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px;
    width: 70%;
    height: 250px;
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
}

.skill_item i
{
    font-size: 50px;
}

.skill_item h1
{
    font-size: 20px;
    margin-top: 1em;
}

.skill_item p
{
    margin-top: 1em;
    text-align: center;
}

@media(min-width: 62em)
{
    .skill_content
    {
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }
    .myskill
    {
        width: 250px;
    }
}

#project
{
    position: relative;
    overflow: hidden;
    margin-top: 5em;
}

#project h1
{
    text-align: center;
    color: var(--gray);
    margin-bottom: 1em;
}

.project_item
{
}

.project_item img
{
}

.project_content
{
    text-align: center;
    color: var(--gray);
    margin-bottom: 5em;
}

.project_content p
{
    font-weight: 300;
    line-height: 2em;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media(min-width: 62em)
{
    .project_item
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    .project_item img
    {
        width: 40%;
        padding-bottom: 0;
    }
    .project_content
    {
        width: 45%;
        text-align: initial;
    }
    .project_item p
    {
        max-width: 500px;
        margin: 0;
        margin-top: 1em;
        margin-bottom: 2em;
    }
    .project_item:nth-child(odd) img
    {
        order: 2;
    }
    .project_item:nth-child(odd)
    {
        order: 1;
    } 
}